 <main>
            <div class="container">
                <h1 class="my-4">Title : {{product.title}}
                </h1>

                <div class="row">

                    <div class="col-md-8">
                        <img class="img-fluid"
                            src="{{product.imageUrl}}"
                            alt="{{product.title}}" />
                    </div>

                    <div class="col-md-4 text-center">
                        <h4 class="my-3">Duration</h4>
                        <p>{{product.duration}}</p>
                        <h3 class="my-3">Description</h3>
                        <p>{{product.description}}</p>
                        {{#if product.isCreator}}
                        <a class="btn btn-danger" href="/products/{{product._id}}/delete">Delete</a>
                        <a class="btn btn-warning" href="/products/{{product._id}}/edit">Edit</a>
                        {{else}}
                        {{#if product.enrolled}}
                        <span class="enrolled-span">You are already enrolled</span>
                        {{else}}
                        <a class="btn btn-primary" href="/products/{{product._id}}/enroll">Enroll</a>
                        {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </main>

      